header{
    font-family: sans-serif;
}

header span{
    font-size: 22px;
}

nav a{
    color: black;
    text-decoration: none;
}

nav a:hover{
    color: lightgrey;
    text-decoration: none;
}

.bg-mountain{
    background-image: url(../images/logo_bg.jpg);
    height: 590px;
    background-repeat: no-repeat;
  background-attachment: fixed;
}

.logo img{
    width: 410px;
    height: 260px;
}

.emailForm{
    background-color: #D7D2D2;
}

.separator_bg{
    background-image: url(../images/separator.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 276px;
}

.separator2_bg{
    background-image: url(../images/arts-bg.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 176px;
}

.separator2_bg{
    background-image: url(../images/separator3.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 176px;
}

.card{
    border: none;
}

.group-picture{
    position: relative;
}

.picture-text{
    position: absolute;
    top: 30%;
    left: 15%;
}

.participants-a a{
    border: 2px solid grey;
    color: grey;
    text-decoration: none;
    padding: 20px;
    font-weight: bold;
}

.participants-a a:hover{
    border: 2px solid grey;
    color: white;
    text-decoration: none;
    padding: 20px;
    font-weight: bold;
    background-color: darkgrey;
}

.b-border{
    border-bottom: 2px solid lightgrey;
}